.actionButtons {
    display: flex;
}

.actionBtn {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin: 0rem 1rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
}

.actionBtn__icon {
    height: 1.5rem;
    width: 1.5rem;
    border: 0px;
    margin-right: 0.5rem;
}
