.viewerSection {
    margin: 2rem 0rem;
    padding: 2rem 1rem;
    border: 1px solid rgb(218, 217, 217);
    background: white;
    border-radius: 1rem;
    width: 85%;
    box-shadow: 0px 0px 1.5px 0px rgb(182, 182, 182);
}

.viewerSection__header {
    margin: 0rem 1rem 1rem;;
    display: flex;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

.viewerSection__btnGroup {
    background-color: rgb(207, 207, 207);
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-left: auto;
}

.viewerSection__filterBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    color: rgb(77, 77, 77);
    background-color: rgb(207, 207, 207);
    margin: 0rem 0.20rem;
    border-radius: 0.25rem;
    border: none;
}

.activeBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.viewerSection__filterBtn:hover {
    color: rgb(0, 0, 0);
}

.viewerSection__title {
    margin: 0rem;
    font-weight: 400;
}

.viewerSection__filmContent {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.viewerSection__error {
    color: red;
    font-size: 1.5rem;
}

