.randomizerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 1rem 0rem
}

.randomizerSection__para{
    font-size: 1.2rem;
    margin: 1rem 0rem;
}

.randomizerSection__button {
    width: 9rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: rgb(252, 151, 133);
    border-radius: 1rem;
    border: 1px solid rgb(248, 171, 168);
}

.randomizerSection__buttonIcon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}