.wildcardSection {
    width: 85%;
    min-width: 38rem;
    border: 1px solid rgb(218, 217, 217);
    background-color: white;
    box-shadow: 0px 0px 1.5px 0px rgb(182, 182, 182);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    text-align: center;
    padding: 1rem;
}

.form__title {
    margin: 0rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
}

.form__inputSection {
    display: flex;
}

.form__field {
    text-align: left;
    margin: 1rem;
    position: relative;
}

.form__label {
    display: block;
    margin-bottom: 0.3rem;
}

.form__input {
    display: block;
    size: 10rem;
}

.form__infoIcon {
    height: 0.7rem;
    width: 0.7rem;
    margin-left: 0.3rem;
}

.form__infoBox{
    display: inline-block;
    width: 12rem;
    position: absolute;
    background: lightblue;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 0.5rem;
    padding: 0.25rem;
    font-size: 0.7rem;
    left: 8rem;
    bottom: 2rem;
}

.form__btn {
    height: 1.3rem;
    margin-top: 2.42rem;
    background: linear-gradient(to right, rgb(220, 182, 255) , rgb(255, 177, 177));
    border-radius: 0.25rem;
    border: 1px solid grey;
}

.identifiedMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black
}

/* position: relative;
    border: 1px solid rgb(204, 204, 204);
    min-width: 22rem;
    max-width: 33rem;
    flex: 1 1 32%;
    min-height: 22vh;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    margin: 0.5rem; */

.wildcardMovie__summary {
    display: flex;
    border: 1px solid rgb(204, 204, 204);

}

.wildcardMovie__details {
    padding: 0rem 2rem;
}

.wildcardMovie__buttons {
    margin: 1rem;
}