.wildcardSection {
    width: 85%;
    border: 1px solid rgb(218, 217, 217);
    background-color: white;
    box-shadow: 0px 0px 1.5px 0px rgb(182, 182, 182);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wildcardSection__form {
    text-align: center;
    padding: 1rem;
}

.wildcardSection__formTitle {
    margin: 0rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
}

.wildcardSection__formInputSection {
    display: flex;
}

.wildcardSection__formField {
    text-align: left;
    margin: 1rem;
}

.wildcardSection__formLabel {
    display: block;
    margin-bottom: 0.3rem;
}

.wildcardSection__formInput {
    display: block;
    size: 10rem;
}

.wildcardSection__formBtn {
    height: 1.5rem;
    margin-top: 2.3rem;
}

.wildcardMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border: 1px solid black
}

.wildcardMovie__summary {
    display: flex
}

.wildcardMovie__details {
    padding: 0rem 2rem;
}

.wildcardMovie__buttons {
    margin: 1rem;
}