.wildcardSection {
    width: 85%;
    min-width: 38rem;
    border: 1px solid rgb(218, 217, 217);
    background-color: white;
    box-shadow: 0px 0px 1.5px 0px rgb(182, 182, 182);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    text-align: center;
    padding: 1rem;
}

.form__title {
    margin: 0rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
}

.form__inputSection {
    display: flex;
}

.form__field {
    text-align: left;
    margin: 0.7rem;
    position: relative;
}

.form__label {
    display: block;
    margin-bottom: 0.3rem;
}

.form__input {
    display: block;
    size: 10rem;
    padding: 0.6rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(88, 88, 88);
}

.form__infoIcon {
    height: 0.7rem;
    width: 0.7rem;
    margin-left: 0.3rem;
}

.form__infoBox{
    display: inline-block;
    width: 12rem;
    position: absolute;
    background: lightblue;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 0.5rem;
    padding: 0.25rem;
    font-size: 0.7rem;
    left: 8rem;
    bottom: 2.8rem;
}

.form__btn {
    height: 2.25rem;
    padding: 0rem 0.7rem;
    margin: 2.15rem 0.5rem 0rem;
    background: linear-gradient(to right, rgb(197, 144, 248) , rgb(248, 151, 151));
    border-radius: 0.25rem;
    border: 1px solid grey;
}

.identifiedMovie__warning {
    width: 60%;
    margin: 0rem;
    color: rgb(233, 85, 85);
}

.identifiedMovie__error {
    width: 60%;
    margin: 0rem;
    color: rgb(233, 85, 85);
}

.recommendedMovie__para {
    font-size: 1rem;
    color: rgb(116, 48, 116);
    margin-bottom: 0.5rem;
}
    