.header {
    text-align: center;
    margin: 1rem 0rem;
}

.header__logo {
    width: 5rem;
    height: 5rem;
    margin: 1.2rem 0rem 1rem
}

.header__title {
    margin: 0rem;
    font-weight: 600;
}