.header {
    text-align: center;
    margin: 1rem 0rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header__logo {
    width: 5rem;
    height: 5rem;
    margin: 1.2rem 0rem 1rem
}

.header__title {
    margin: 0rem;
    font-weight: 600;
}

.header__statsSection {
    display: flex;
    margin-bottom: 1rem;
}

.header__stat {
    margin: 0rem 1.5rem;
    color: rgb(78, 78, 78);
}