/* Have attempted to implement BEM naming convention throughout this project */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* FONTS */
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: italic;
}

/* NAVIGATION BAR */
.navbar {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
}

.navbar__section {
  display: flex;
  align-items: center;
}

.section-left {
  gap: 1rem;
}

.navbar__img {
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
}

.navbar__title {
  text-transform: uppercase;
}

.section-right {
  list-style-type: none;
  font-size: 1.3rem;
  gap: 2rem;
  padding-right: 5rem;
  padding-top: 0.5rem
}

a {
  color: black;
  text-decoration: none;
}

li a:hover,
li a.active {
  color: orange;
  text-decoration: underline;
}



.shuffler_content {
  /* text-align: center; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 246, 246);
}



.intro {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.intro__para {
  font-size: medium;
}

.subheader {
  font-weight: 500;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.menuItem {
  margin: 1rem;
  padding: 1.5rem 1rem;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 4px 4px 2px -2px rgba(0.2, 0.2, 0.2, 0.2);
}

.menuItem__logo {
  width: 4rem;
  height: 4rem;
}

.menuItem__description {
  font-size: 0.9rem;
  margin: 0.75rem 0rem;
}

.menuItem__buzzWords {
  display: flex;
  justify-content: center;
}

.menuCategory {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  color: rgb(49, 48, 48);
  background-color: lightgrey;
  border-radius: 1rem;
}

.content {
  border: 1px solid black;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}