/* Have attempted to implement BEM naming convention throughout this project */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {
  text-align: center;
}

.navbar {
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
}

.navbar__img {
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
}

.navbar__title {
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

li a:hover,
li a.active {
  color: orange;
  text-decoration: underline;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar__section {
  display: flex;
  align-items: center;
}

.section-left {
  gap: 1rem;
}

.section-right {
  list-style-type: none;
  font-size: 1.3rem;
  gap: 2rem;
  padding-right: 5rem;
}

.content {
  background-color: rgb(245, 245, 245);
}

.intro {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: italic;
}

.intro__para {
  font-size: medium;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.menuItem {
  margin: 1rem;
  padding: 1rem;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  border: 0.5px solid grey;
}

.menuItem__logo {
  width: 4rem;
  height: 4rem;
}

.menuItem__description {
  font-size: 0.9rem;
}
